@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #333;
  text-decoration: none;
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
}

.colppy-primary {
  background: linear-gradient(90deg, #63c, #7d42e6 50%, #a15bff) !important;
}

.line-divider {
  height: 4px;
  margin: 0 auto;
  width: 72px;
  background-color: #6633CC;
}
